In [1]:
import pandas as pd
import numpy as np

import matplotlib.pyplot as plt
import seaborn as sns

from sklearn.model_selection import train_test_split

In [2]:
embeddings = pd.read_pickle("../data/datasets/g1-news/articles_embeddings.pickle")
metadata = pd.read_csv("../data/datasets/g1-news/articles_metadata.csv")

In [3]:
metadata.head()

   article_id  category_id  created_at_ts  publisher_id  words_count
0           0            0  1513144419000             0          168
1           1            1  1405341936000             0          189
2           2            1  1408667706000             0          250
3           3            1  1408468313000             0          230
4           4            1  1407071171000             0          162

In [4]:
 # only select classes that have more than 1% of dataset samples
total_size = len(embeddings)
threshold = total_size // 100
grouped_metadata = metadata.groupby(by=["category_id"]).count()
selected_classes = grouped_metadata[grouped_metadata["article_id"] >= threshold].index
print(f"Total number of classes = {metadata.category_id.nunique()}")
print(f"Number of selected classes = {selected_classes.shape[0]}")

Total number of classes = 461
Number of selected classes = 36

In [5]:
filtered_metadata = metadata[metadata["category_id"].isin(selected_classes)]
y = filtered_metadata["category_id"].values
y.shape

(207106,)

In [6]:
X = embeddings[filtered_metadata["article_id"].values, :]
X.shape

(207106, 250)

In [7]:
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=2, test_size=0.3)